@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .styled-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .styled-scrollbar::-webkit-scrollbar-thumb {
    background: #666;
  }

  .styled-scrollbar::-webkit-scrollbar-track {
    background: #ddd;
  }

  .styled-checkbox:checked:after {
    content: '\2713';
    font-weight: 900;
  }

  .styled-checkbox {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 20px !important;
    height: 20px !important;
    appearance: none;
    border-radius: 10%;
    border: none;
    box-shadow: none;
    font-size: 1em;
  }
}

@layer components {
  .card-wrap {
    @apply relative bg-white shadow-[0_0_2px_rgb(0_0_0_/_2%)] rounded-2xl w-full box-border h-auto overflow-hidden pt-3 pb-0 px-0 border border-solid border-gray-slate-600;
  }

  .box-wrap {
    @apply h-auto overflow-hidden pt-0 pb-5 px-4;
  }

  .stroke-linecap-round {
    stroke-linecap: round;
  }

  .stroke-linejoin-round {
    stroke-linejoin: round;
  }
}
